<launch>
   <node name="raspi_ir_bridge" pkg="raspitrack_udp_bridge" type='marker_publisher'>
      <param name="ip_address" value="10.42.0.1" type="string" />
      <param name="port" value="5000" type="int" />      
      <param name="calib_file_url" value="file:///home/rouholla/raspi-ir-tracker/catkin_ws/ost.yaml" type="string" />
   </node>
</launch>
